<%- include("headers"); -%>
<h2>This is an about page of my website</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit, temporibus iste id, aspernatur accusantium quibusdam atque sint culpa tempora totam, quo numquam cumque explicabo amet delectus! Atque vel adipisci harum vitae.</p>
<%- include("footer"); -%>