<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <!-- we can use this tag <%= which Outputs the value into the template (HTML escaped) -->
    <!-- THE KindOfDAy IS A MARKER THAT TELLS THE FILE THAT IT IS THE PLACE WHERE YOU SHOULD PUT YOUR VARIABLE-->
    <!-- AND THAT VARIABLE WILL BE REPLACED LATER -->
    <!-- so here the kindofday will be replaced by what value we will pass -->
    <h1>It is a  <%= KindOfDay %>  </h1>
</body>
</html>